@define-color background-color #1B1B1B;
@define-color border-color #a99b7a;
@define-color label #929292;
@define-color image #a99b7a;
@define-color progress #e75a50;


.osd {
    border-radius: 5px;
}

