    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #1F1F1F;
        --color01: #1F1F1F;
        --color02: #1F1F1F;
        --color03: #e6efff;
        --color04: #e6efff;
        --color05: #e6efff;
        --color06: #e6efff;
        --color07: #e6efff;
        --color08: #F44336;
        --color09: #a99b7a;
        --color10: #a99b7a;
        --color11: #e75a50;
        --color12: #99a4af;
        --color13: #8484a0;
        --color14: #a7a6c6;
        --color15: #a99b7a;
    }
